#b1 {
        position:absolute;
        top: 750px;
        right: 0px;
}
body
{
    background-color: rgb(11, 226, 197);
}
#hd3{
    display: inline-block;
    color: rgb(250, 16, 230);
    background-color: rgb(255, 240, 246);
    font-family: roboto;
    font-size: 30px;
     }
     
     